<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sadhana.gracenotetest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flickrandtwitter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Auto generated APiKey, when installing Fabric SDK-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="da6fc4e6887d426dc5274e357b46fa10fe2fc9ba" />

    </application>

</manifest>
